:root {
    --bg-color-left: #c63547;
    --bg-color-center: #e3e238;
    --bg-color-right: #32bf44;
    --bg-color-bottom: #71daff;
    --dark-accent-color: #000272;
    --light-hl-color: #c0c0c0;
    --dark-hl-color: #a4a4a4;
    --divider-line-color: #727272;
}
