:root {
    --bg-color-left: #1d1ecf;
    --bg-color-center: #72a9e0;
    --bg-color-right: #1d1ecf;
    --bg-color-bottom: #49479f;
    --dark-accent-color: navy;
    --light-hl-color: #a1d5ff;
    --dark-hl-color: #77aaff;
    --divider-line-color: #206cff;
}
