:root {
    --bg-color-left: #008509;
    --bg-color-center: #76c677;
    --bg-color-right: #008509;
    --bg-color-bottom: #4b8341;
    --dark-accent-color: #1a5500;
    --light-hl-color: #cfffbe;
    --dark-hl-color: lightgreen;
    --divider-line-color: #00c905;
}
