:root {
    --bg-color-left: #b87324;
    --bg-color-center: #ffb968;
    --bg-color-right: #b87324;
    --bg-color-bottom: #9f7747;
    --dark-accent-color: #763D07;
    --light-hl-color: #ffe2ba;
    --dark-hl-color: #ffcc77;
    --divider-line-color: #ff9400;
}
