:root {
    --bg-color-left: #c659c6;
    --bg-color-center: #b38fff;
    --bg-color-right: #c659c6;
    --bg-color-bottom: #96479f;
    --dark-accent-color: purple;
    --light-hl-color: #f0d3ff;
    --dark-hl-color: #dd99ff;
    --divider-line-color: #d74dd7;
}
