:root {
    --bg-color-left: #e94d3f;
    --bg-color-center: #ff8f9f;
    --bg-color-right: #e94d3f;
    --bg-color-bottom: #9f4947;
    --dark-accent-color: #991111;
    --light-hl-color: #ffcfca;
    --dark-hl-color: #ffaaaa;
    --divider-line-color: #e34b57;
}
