:root {
    --bg-color-left: #9b9b50;
    --bg-color-center: #e4e36a;
    --bg-color-right: #9b9b50;
    --bg-color-bottom: #9f9b47;
    --dark-accent-color: #565600;
    --light-hl-color: #fffe9f;
    --dark-hl-color: #dddd77;
    --divider-line-color: #908842;
}
