:root {
    --bg-color-left: #9b8e50;
    --bg-color-center: #efe58e;
    --bg-color-right: #9b8e50;
    --bg-color-bottom: #9f8547;
    --dark-accent-color: #564400;
    --light-hl-color: #ece195;
    --dark-hl-color: #ddd177;
    --divider-line-color: #908242;
}
